.slideroption{
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0 10px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    cursor: pointer;
    color: #818181;
}

.slideroption > p{
    display: none;
    font-weight: 300;
}

.slideroption > h3{
    flex: 1;
    margin-left: 10px;
    font-size: 14px;
    font-weight: 400;
}

.icon{
    padding: 5px;
}

.slideroption:hover > p{
    display: inline ;
}

.slideroption:hover,
.slideroption:hover > p,
.slideroption:hover > h3,
.slidebar-options,
.slidebar-option > p,
.slidebar-option > h3{
    background-color: #fcecec;
    color: #c04b37;
    font-weight: 800 !important;
}


.slidebar-option > p{
    display: inline !important;
}